/* header */
.navbar-brand h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 564px;
    /* font-size: 6vh; */
    padding-left: 2%;
    color: whitesmoke;
    text-shadow: 2px 3px black;
}

.navbar-brand:hover {
    opacity: 20%;
}


.nav-link img {
    height: 40px;
    width: 40px;
}

.nav-link img:hover {
    opacity: 20%;
    cursor: pointer;
}

/* main */
main {
    padding: 0px 10px 0 10px;
}

/* projects */
.project {
    width: 100%;
}

.project img:hover {
    opacity: 75%;
}

/* header responsiveness */
@media screen and (max-width: 991px) {
    .navbar-nav {
        padding-left: 70%;
    }
    .navbar-nav li {
        padding-left: 81.5%;
    }
}

@media screen and (max-width: 674px) {
    .navbar-nav {
        padding-left: unset;
    }
    .navbar-nav li {
        padding-left: .5%;
    }
}