.navbar-brand {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    padding-left: 2%;
    color: whitesmoke;
    text-shadow: 2px 3px black;
}

.navbar-brand:hover {
    opacity: 20%;
}

.navbar-nav {
    padding-left: 70%;
}

.nav-link img {
    height: 40px;
    width: 40px;
}

.nav-link img:hover {
    opacity: 20%;
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        padding-left: 70%;
    }
    .navbar-nav li {
        padding-left: 81.5%;
    }
}

@media screen and (max-width: 922px) {
    .navbar-nav {
        padding-left: unset;
    }
    .navbar-nav li {
        padding-left: .5%;
    }
}